@charset "UTF-8";

/* Smooth scroll */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: #000;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.theme-text {
  color: #1FC16B;
}

.theme-text-light {
  color: #525866 !important;
}

.btn.btn-sm {
  font-size: 12px;
  padding: 5px 10px;
  border-width: 1px;
}

.bg-red {
  background-color: #da281a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

.boxshadownone {
  box-shadow: none !important;
}

.bgblack {
  background-color: #000 !important;
}

.bgred {
  background-color: #da281a !important;
}

.form-check-input:checked {
  background-color: #1FC16B;
  border-color: #1FC16B;
}

.btn-primary {
  display: inline-flex;
  padding: 8px 30px;
  background-color: #1FC16B;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  font-size: 0.875rem;
  border: 2px solid #1FC16B;
  transition: all 175ms linear;
  justify-content: center;
}

.btn-primary:hover {
  background-color: #12a256;
  color: #fff;
  border-color: #12a256;
  transform: translateY(-2px);
}

.btn-secondary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 8px 30px;
  background-color: transparent;
  color: #000;
  border-radius: 30px;
  text-decoration: none;
  font-size: 0.875rem;
  border: 2px solid #ddd;
  transition: all 175ms linear;
}

.btn-secondary:hover {
  border-color: #1fc16b;
  background-color: #1fc16b;
  color: #fff !important;
  transform: translateY(-2px);
}

.badgeprimary {
  background-color: #fec0cd;
  color: #782d35;
}

.f14 {
  font-size: 0.875rem !important;
}

.f12 {
  font-size: 0.75rem !important;
}

.brd-light {
  border-color: #2B303B !important;
}

/* Header */
.app-topbar {
  position: sticky;
  top: 0;
  z-index: 1001;
  color: #99A0AE;
  background-color: #0E121B;
  -webkit-transition: margin-left .25s ease-in-out;
  transition: margin-left .25s ease-in-out;
  font-size: 14px;
  list-style: 20px;
}

.app-topbar .topbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.app-topbar .topbar-menu .topbar-item .topbar-link {
  z-index: 1;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  color: #000;
  position: relative;
  height: 100%;
  color: #99A0AE;
}

.dropdown-menu {
  -webkit-box-shadow: 0px 1px 4px 0px rgba(130, 143, 163, 0.15);
  box-shadow: 0px 1px 4px 0px rgba(130, 143, 163, 0.15);
  border-radius: 0.3rem;
  -webkit-animation-name: DropDownSlideUp;
  animation-name: DropDownSlideUp;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  will-change: transform;
  position: absolute;
  z-index: 1000;
  border-color: #eee;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.4rem 0.9375rem;
  clear: both;
  font-weight: 400;
  color: var(--theme-dropdown-link-color);
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 14px;
}

.drop-arrow-none:after {
  display: none
}

.avatar-md {
  height: 2.25rem;
  width: 2.25rem;
}

.btn-theme-setting svg {
  -webkit-animation: 2s linear infinite spinner-border;
  animation: 2s linear infinite spinner-border
}

@-webkit-keyframes DropDownSlideUp {
  100% {
    margin-top: 0
  }

  0% {
    margin-top: 3px
  }
}

@keyframes DropDownSlideUp {
  100% {
    margin-top: 0
  }

  0% {
    margin-top: 3px
  }
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.nav-user {
  border: solid 1px #2B303B;
  border-radius: 3px;
  padding: 5px;
}

.app-topbar .navbar-nav .nav-link.active {
  background-color: #181B25;
  color: #fff;
}

.app-topbar .navbar-nav .nav-link:hover {
  color: #fff;
}

.app-topbar .navbar-nav .nav-link {
  font-size: 14px;
  letter-spacing: -0.4px;
  font-weight: 500;
  color: #99A0AE;
  padding: 8px 12px;
  border-radius: 6px;
  list-style: 20px;
}

/* Calendar */
.fc-toolbar-chunk .fc-button-group {
  order: 2;
}

.fc-toolbar .fc-toolbar-chunk .fc-today-button,
.fc-toolbar .fc-toolbar-chunk .fc-toolbar-title {
  font-size: 14px;
  border: solid 1px #E1E4EA;
  padding: 6px 12px;
  line-height: 20px;
  font-weight: 500;
  color: #525866;
  box-shadow: none !important;
  border-radius: 8px;
}

.fc-toolbar .fc-toolbar-chunk:last-child {
  margin-left: auto;
}

.fc-toolbar .fc-toolbar-chunk:last-child {
  background-color: #F5F7FA;
  padding: 6px;
  border-radius: 8px;
}

.fc-toolbar .fc-toolbar-chunk:last-child .fc-button-active,
.fc-toolbar .fc-toolbar-chunk:last-child .fc-button-primary:focus {
  background-color: #fff !important;
  color: #000;
}

.fc-toolbar .fc-toolbar-chunk:last-child .fc-button-primary {
  font-size: 14px;
  padding: 6px 12px;
  line-height: 20px;
  color: #99A0AE;
  border-radius: 8px;
  border: 0;
  font-weight: 500;
  box-shadow: none !important;
}

.fc td,
.fc th {
  font-size: 12px;
  color: #000;
  border-color: #E1E4EA !important;
}

.fc td .fc-event {
  background-color: #F5F7FA;
  border: 0;
  padding: 5px;
  color: #000;
}

.fc-h-event .fc-event-title {
  color: #000;
  font-weight: 500;
}

.fc-daygrid-event-dot {
  display: none;
}

.fc-popover .fc-popover-body {
  font-size: 12px;
  color: #000;
}

.fc-popover .fc-popover-header {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}

.fc-popover .fc-popover-body a {
  background-color: transparent;
  border: 0;
}

.booking-card {
  background: #fff;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  font-size: 13px;
}

.bc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bc-actions span {
  cursor: pointer;
  margin-left: 6px;
  color: #000;
}

.bc-time {
  font-size: 12px;
  color: #6c757d;
}

.bc-instructor {
  font-size: 12px;
  margin-top: 4px;
}

.fc td .fc-event * {
  color: #000;
  font-weight: 400;
}

/* ============================
   Modal
============================ */
.modal {
  font-size: 12px;
  color: #0E121B;
}

.modal span {
  color: #000;
}

.modal h5 {
  font-size: 14px;
}

.modal hr {
  margin: 6px 0px;
  border-color: #828080;
}

.student-row {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  align-items: center;
}

.student-row .paid {
  background: #d1fae5;
  color: #065f46;
  padding: 2px 8px;
  border-radius: 20px;
  font-size: 12px;
}

.modal p {
  margin-bottom: 3px;
}

.nav-tabs .nav-link {
  color: #525866;
  border-bottom: 2px solid transparent !important;
  border-radius: 0;
  border: 0;
  font-size: 13px;
}

.nav-tabs .nav-link.active {
  background-color: #F5F7FA;
  font-weight: 600;
  border-color: #1FC16B !important;
}

label {
  font-weight: 600;
  font-size: 12px;
}

.form-control {
  font-size: 12px;
  color: #000;
  height: 40px;
  position: relative;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: #1FC16B !important;
}

select.form-control::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  width: 10px;
  height: 10px;
  border-right: 2px solid #6c757d;
  border-bottom: 2px solid #6c757d;
  transform: translateY(-50%) rotate(45deg);
  pointer-events: none;
}

textarea.form-control {
  height: 90px;
}

.statusarea {
  margin-left: 15px;
}

.checkicon {
  background-color: #E0FAEC;
  padding: 1px 4px 4px 4px;
  border-radius: 3px;
  line-height: 1;
}

.statusarea span {
  background-color: #F5F7FA;
  color: #000;
  padding: 3px 3px;
  margin: 1px;
  border-radius: 3px;
  display: inline-block;
  font-size: 10px;
}

.Availabilityarea span {
  background-color: #F5F7FA;
  padding: 5px 8px;
  border-radius: 50px;
  display: inline-block;
  font-size: 10px;
  border: solid 1px #ccc;
  margin: 3px 3px;
}

.btn-available.active svg {
  transform: rotate(180deg);
}

/* Overlay */
.overlay,
.overlay2,
.overlay3 {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 998;
}

/* Drawer */
.side-drawer {
  position: fixed;
  top: 0;
  right: -100%;
  max-width: 500px;
  height: 100%;
  background: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
  z-index: 1001;
  width: 100%;
}

.side-drawer.active {
  right: 0;
}

.overlay.active,
.overlay2.active,
.overlay3.active {
  display: block;
}

/* Header */
.close-btn {
  font-size: 22px;
  cursor: pointer;
}

/* Button */
#openDrawer {
  padding: 10px 15px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 1250px) {
  .app-topbar .navbar-nav .nav-link {
    padding: 8px 8px;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .booking-card {
    font-size: 14px;
  }
}

.appointment-profile .profilename-short {
  width: 50px;
  height: 50px;
  background-color: #ffecc1;
  border-radius: 50px;
  color: #816c3b;
}

.table th {
  background-color: #F5F7FA;
}

.table th,
.table td {
  font-size: 12px;
  vertical-align: middle;
}

.table tr.table-alert td {
  color: #FB3748;
}

.bg-danger {
  background-color: #FB3748 !important;
}